n8n-workflow-simple-test.json
{
  "name": "Afamily Simple Test (No AI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "afamily-scraper-test",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "test-scraper"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\n\nif (!webhookData.categories || !webhookData.article) {\n  throw new Error('Missing categories or article in payload');\n}\n\nconst firstCategory = webhookData.categories[0];\n\nreturn {\n  json: {\n    article: webhookData.article,\n    category_id: firstCategory.id,\n    category_name: firstCategory.name,\n    category_slug: firstCategory.slug,\n    source_id: webhookData.article.source_id || '',\n    source_domain: webhookData.article.source_domain || ''\n  }\n};"
      },
      "id": "prepare-1",
      "name": "Assign First Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "https://7slzr34g-5000.asse.devtunnels.ms/api/workflow/save-article",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "save-1",
      "name": "Save to Firebase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Assign First Category", "type": "main", "index": 0}]]
    },
    "Assign First Category": {
      "main": [[{"node": "Save to Firebase", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
